.DS_Store
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.example
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

/tests
/node_modules       
/resources/sass/

# Mock
/resources/views/mock/
/app/Http/Controllers/MockController.php
/storage/mock/
/config/mock/

phpunit.xml                  
tailwind.config.js 
vite.config.js
package-lock.json  
postcss.config.js    
package.json
composer.lock    
.editorconfig  
