@mixin user-select-none {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none !important; /* iOS Safari */
    -webkit-user-select: none !important; /* Safari */
    -khtml-user-select: none !important; /* Konqueror HTML */
    -moz-user-select: none !important; /* Firefox */
    -ms-user-select: none !important; /* Internet Explorer/Edge */
    user-select: none !important; /* Non-prefixed version, currently supported by Chrome and Opera */
    &::selection {
        background: transparent;
    }
    &::-moz-selection {
        background: transparent;
    }
}

@mixin hiddenScroll {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none;
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none;
    }
}

@mixin appearance-none {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin backdrop() {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
}
