@use "../index" as *;

#header {
    background: url($app-url + "/images/top-bar.png");
    height: 100px;
    object-fit: contain;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 1 auto;
    @include border-bottom-radius(16px);
    width: 100%;
    display: block;
    padding: 0;
    position: relative;
}
